* {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

body {
    background-color: #c3dad4;
}

/* CALCULATOR */
.container {
    width: 300px;
    height: 450px;
    background-color: #65a897;
    border-radius: 10px;
    position: relative;
    top: 150px;
    left: 40%;
}

/* RESULT SCREEN */
.container > #result {
    width: 260px;
    height: 100px;
    position: relative;
    top: 30px;
    left: 20px;
    border-radius: 10px;
    background-color: #98d8ce;
}

/* */
.container > .buttons {
    margin: 50px auto;
}

/* BUTTONS LINING UP */
.container > .buttons > .line1,
.container > .buttons > .line2,
.container > .buttons > .line3,
.container > .buttons > .line4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTONS */
.container > .buttons > .line1 > button,
.container > .buttons > .line2 > button,
.container > .buttons > .line3 > button,
.container > .buttons > .line4 > button {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #c3dad4;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* BUTTONS HOVER */
.container > .buttons > .line1 > button:hover,
.container > .buttons > .line2 > button:hover,
.container > .buttons > .line3 > button:hover,
.container > .buttons > .line4 > button:hover {
    transform: scale(1.1);
    transition: ease .2s;
}

/* ZERO */
.container > .buttons> .line4 > #zero {
    width: 190px;
}

/* ZERO HOVER */
.container > .buttons> .line4 > #zero:hover {
    width: 190px;
    transform: scale(1.05);
    transition: ease .2s;
}