* {
    margin: 0;
    padding: 0;
}
.container {
    width: 300px;
    height: 450px;
    position: relative;
    top: 100px;
    left: 40%;
    border: 1px black solid;
}
.container > #result {
    width: 200px;
    background-color: #646a3c;
}
.container > .buttons> .line1 > button,
.container > .buttons> .line2 > button,
.container > .buttons> .line3 > button,
.container > .buttons> .line4 > button {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.container > .buttons> .line4 > #zero {
    width: 198px;
}